@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

:root{
	--color-text: #E0FFFF;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--color-text);
	font-family: 'Lato', sans-serif;
}
body{
	background: rgb(0,65,106);
	background: linear-gradient(90deg, rgba(0,65,106,1) 25%, rgba(11,141,212,0.9724264705882353) 82%);
}

header{
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
nav ul, h1{
	padding: 2rem;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
h1{
	font-style: italic;
	margin: auto;
	margin: 0px;
}
h2{
	font-size: 1.5rem;
}
h3{
	font-size: 1rem;
}

ul a{
	display: flex;
	text-decoration: none;
	padding: 0.5rem;
}
ul a:hover{
	text-decoration: underline;
	color: yellow;
}

/*sobre mim*/
.container-sobremim{
	width: 80%;
	display: flex;
	justify-content: space-around;
}
#sobreMim{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2.5rem;
	margin-bottom: 6rem;
}
#sobreMim img{
	width: 200px;
	height: 250px;
	border-radius: 50px;
	box-shadow: 2px 2px skyblue;
	margin-bottom: 10px;
}
.sobreMimRedes{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
.sobreMimRedes a{
	margin: 10px;
	font-size: 1.5em;
}
#textoSobre{
	width: 50%;
	font-size: 1.1rem;
	text-align: justify;
	line-height: 1.8;
	word-spacing: 1px;
}
#textoSobre p{
	margin-top: .3rem;
}
#textoSobre SPAN{
	text-decoration: underline;
	text-transform: uppercase;
}

/*--------habilidades--------*/
#habilidades, #projetos{
	margin: 2rem;
}
.container_habilidades{
	padding: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.container_habilidades img{
	width: 10rem;
	height: 10rem;
}
.container_habilidades div{
	border: 1px solid rgb(8, 96, 136);
	border-radius: 8px;
	box-shadow: 2px 2px 3px rgb(8, 96, 136);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}
/*-----------------PROJETOS------------------------*/
.container_cards{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "cardsProjetos cardsProjetos";
	flex: 1 0 auto;
}
.cardsProjetos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2.5rem; 
	width: 90%
	margin: auto;
	margin-top: 2rem; 
	grid-area: cardsProjetos;
	gap: 2rem;
}
.cardsProjetos div{
	flex-direction: column;
	align-items: center;
}
.cardsProjetos div img{
	width: 30rem;
	height: 27rem;
}
#CalcularServicos, #calcularGorjetas, #siteEsportes{
	display: flex;
}
/*#CalcularServicos img, #calcularGorjetas img, #siteEsportes img{
	margin-top: .5rem;
	width: 250px;
	height: 350px;
	border: 1px solid gray;
	border-radius: 5px;
	box-shadow: -2px 2px 3px black;
}*/
/*#CalcularServicos img:hover, #calcularGorjetas img:hover, #siteEsportes img:hover{
	box-shadow: 0 0 4px 5px rgba(8, 96, 136, 1.0);
}*/


/*----------FOOTER----------*/
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: auto;
	margin-bottom: 2rem;
	text-align: center;
}
footer h2{
	font-size: 1.5rem;
}

footer div{
	padding: 10px;
}

footer div a{
	text-decoration: none;
	font-size: 1rem;
}
#redesSociais{
	display: flex;
	margin-top: 1rem;
	margin-bottom: 3rem;
	flex-wrap: wrap;
}
#redesSociais a{
	margin-right: 2rem;
	font-size: 1rem;
}
#redesSociais a:hover{
	color: yellow;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

@media(max-width: 768px){
	.cardsProjetos div img{
		width: 18rem;
		height: 16rem;
	}
	.container-sobremim{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
	#textoSobre{
		font-size: 1rem;
		width: 100%;
		margin-bottom: 0;
	}
}


@media(max-width: 480px){
	nav ul, h1{
		padding: 1rem;
	}
	#menu ul a{
		font-size: .9rem;
		padding: .3rem;
	}
	#sobreMim{
		margin-bottom: 1rem;
	}
	#sobreMim img{
		width: 9rem;
		height: 10rem;
	}
	.container_habilidades img{
		width: 10rem;
		height: 10rem;
	}
	#habilidades{
		margin-bottom: 0;
	}
	.container_habilidades div{
		margin-bottom: 1rem;
	}
	.cardsProjetos div img{
		width: 18rem;
		height: 16rem;
	}
	.grid{
		margin: auto;
	}
	#fraseFinal{
		font-size: 15px;
	}
}


@media(max-width: 320px){
	ul a{
		padding: 0;
	}
	h1{
		font-size: 1rem;
	}

	#sobreMim img{
		width: 8.5rem;
		height: 9rem;
	}

	.cardsProjetos div img{
		width: 12rem;
		height: 10rem;
	}
}


@media(max-width: 280px){

	#sobreMim img{
	width: 7rem;
	height: 9rem;
	}

	.container_habilidades img{
	width: 5rem;
	height: 5rem;
	}

	.cardsProjetos div img{
		width: 8rem;
		height: 6rem;
	}
	#fraseFinal{
		font-size: 10px;
	}

}




/*barra de rolagem*/
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-track{
	background-color: rgb(0,65,106);
	background-color: linear-gradient(90deg, rgba(0,65,106,1) 17%, rgba(7,117,177,0.9724264705882353) 39%);
}

::-webkit-scrollbar-thumb{
	border-radius: 35px;
	background-color: rgb(8,96,136);
}